* {
    padding: auto;
    margin: auto;
}
header{
    text-align: center;
}
img{
 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.content{
    border-top: double, dodgerblue;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
div{
    display: block;
}
.col_left{
    width: 80%;
    float: left;
}
.panel{
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}
.panel_heading{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.col_right{
    width: 80%;
 float: left;
}
footer{
    float: left;
    text-align: center;
}