*{
    margin: 0;
    padding: 0;
}


.header{
    text-align: center;
}
.header h4,h3{
 color:blue;
 font-weight: bold;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 20px;

}
b{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}


.header img{
    padding: 15px;
}
.navbar {

    display: flex;
    
    align-items: center;
    
    justify-content: space-between;
    
    padding: 20px;
    
    background-color: teal;
    
    color: #fff;
    
    }
    
    .nav-links a {
    
    color: #fff;
    
    }
    /* LOGO */
    .logo {
    font-size: 32px;
    }
    /* NAVBAR MENU */   
    .menu {   
    display: flex;   
    gap: 1em;  
    font-size: 18px;  
    }  
    .menu li:hover {
  background-color: #4c9e9e;
 border-radius: 5px;  
    transition: 0.3s ease;
    }
        .menu li {
    
    padding: 5px 14px;
    
    }
    
    /* DROPDOWN MENU */
    
    .services {
    
    position: relative;
    
    }
  body{
    background-image: url(../Images/BG\ iage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
   backdrop-filter: blur(20);
}   
 
